{% extends "public/templates/public_template.html" %}

{% block title %}Recommendation Time!{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>Arbitrage!</h1>
            <hr>

            <form action="/arb" method="POST">
        <select name="exchange_1">
            <option value="coinbase_pro">Coinbase Pro</option>
            <option value="bitfinex">Bitfinex</option>
            <option value="hitbtc">HitBTC</option>
        </select>
        <br>
        <br>
        <select name="exchange_2">
            <option value="coinbase_pro">Coinbase Pro</option>
            <option value="bitfinex">Bitfinex</option>
            <option value="hitbtc">HitBTC</option>
        </select>
        <br>
        <br>
        <select name="trading_pair">
            <option value="btc_usd">BTC/USD</option>
            <option value="eth_usd">ETH/USD</option>
            <option value="ltc_usd">LTC/USD</option>
            <option value="eth_btc">ETH/BTC</option>
            <option value="ltc_btc">LTC/BTC</option>
        </select>
        <br>
        <br>
        <input type='submit' value="Submit">
    </form>
        </div>
    </div>
</div>

{% endblock %}